@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgb(183, 232, 245), rgb(163, 184, 245));
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 10px;
  background-color: rgb(111, 141, 220);
  display: flex;
  flex-wrap: wrap;
}

header div{
  width: 100%;
}
header img{
  width: 50px;
}
nav{
  width: 100%;
}
nav a {
  color: #FFF;
  text-decoration: none;
}
nav a:visited {
  color: #FFF;
}
ul{
  list-style-type: none;
}

main{
  padding: 10px;
}